<h1>Edit user "<%= @user.email %>"</h1>

<%= simple_form_for(@user, html: { autocomplete: 'off', role: 'form' }) do |form| %>

  <%= form.error_notification %>

  <%= render 'form', form: form %>

  <%= form.input :admin, as: :boolean, checked_value: true, unchecked_value: false,
      label: "<b>Admin</b>".html_safe, wrapper_html: { class: 'margin-y-3' }, label_html: { class: '' }, input_html: { class: 'margin-right-1' } %>

  <%= form.button :submit, 'Update', :class => 'usa-button' %>

  <%= link_to('Delete',
              user_path(@user),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this user?' },
              class: 'usa-button usa-button--secondary') %>

  <%= link_to 'Cancel', users_path, class: 'usa-button usa-button--outline' %>

<% end %>
