<h1>Users</h1>

<%= button_to 'Create new user', new_user_path, method: :get, :class => 'usa-button' %>

<table class="usa-table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Phone</th>
      <th scope="col">Account</th>
      <th scope="col">Signed in</th>
      <th scope="col">Admin</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, edit_user_path(user.id), class: 'usa-link' %></td>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.title %></td>
        <td><%= number_to_phone(user.phone) %></td>
        <td><%= user.lg_account_id %></td>
        <td><% if user.uuid? %>✔️<% end %></td>
        <td><% if user.admin? %>✔️<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
