<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login.gov Partners</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag identity_asset_path('img/favicons/favicon.ico') %>
  </head>

  <body>
    <%= link_to 'Skip to main content', '#main-content', class: 'usa-skipnav' %>

    <%= render 'demo_banner' %>
    <%= render 'usa_banner' %>

    <div class="usa-overlay"></div>

    <%= render 'usa_header' %>

    <main class="usa-layout-docs usa-section" id="main-content">
      <div class="grid-container">
        <div class="usa-layout-docs__main usa-prose">
          <%= render 'flashes' %>
          <%= yield %>
        </div>
      </div>
    </main>

    <%= render 'usa_footer' %>
  </body>
</html>

