<h1><%= @account.name %></h1>
<p class='text-bold'><%= @account.lg_identifier %></p>

<h2 class="margin-top-5">Contacts</h2>
<% if @account.account_contacts.count.positive? %>
  <table class="usa-table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Title</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <% @account.account_contacts.each do |ac| %>
        <tr>
          <td><%= "#{ac.user.first_name} #{ac.user.last_name}" %></td>
          <td><%= ac.user.title %></td>
          <td><%= ac.user.email %></td>
          <td><%= ac.user.phone %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No contacts found.</p>
<% end %>

<h2 class="margin-top-5">IAA funds</h2>
<% if @account.iaa_gtcs.count.positive? %>
  <table class="usa-table">
    <thead>
      <tr>
        <th scope="col">GT&amp;C (7600A)</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Amount</th>
        <th scope="col">Billed</th>
        <th scope="col">Remaining</th>
      </tr>
    </thead>
    <tbody>
      <% @account.iaa_gtcs.each do |iaa_gtc| %>
        <tr>
          <td><%= iaa_gtc.name %></td>
          <td><%= iaa_gtc.start_date %></td>
          <td><%= iaa_gtc.end_date %></td>
          <td><%= number_to_currency(iaa_gtc.estimated_amount, precision: 0) %></td>
          <td>Coming Soon</td>
          <td>Coming Soon</td>
        </tr>
      <% end %>
    </tbody>
    <% if @account.iaa_orders.count.positive? %>
      <thead>
        <tr>
          <th scope="col">Order (7600B)</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Amount</th>
          <th scope="col">Cost to Date</th>
          <th scope="col">Remaining</th>
        </tr>
      </thead>
      <tbody>
        <% @account.iaa_orders.each do |iaa_order| %>
          <tr>
            <td><%= iaa_order.name %></td>
            <td><%= iaa_order.start_date %></td>
            <td><%= iaa_order.end_date %></td>
            <td><%= number_to_currency(iaa_order.estimated_amount, precision: 0) %></td>
            <td><%= number_to_currency(iaa_order.cost_to_date, precision: 2) %></td>
            <td><%= number_to_currency(iaa_order.estimated_amount - iaa_order.cost_to_date, precision: 2) %></td>
          </tr>
        <% end %>
      </tbody>
    <% else %>
      <thead>
        <tr>
          <th rowspan="6">No IAA Orders found.</th>
        </tr>
      </thead>
    <% end %>
  </table>
<% else %>
  <p>No IAA's found.</p>
<% end %>

<h2 class="margin-top-5">Integrations</h2>
<% if @account.integrations.count.positive? %>
  <% @account.integrations.each do |integration| %>
    <table class="usa-table margin-bottom-4 width-full">
      <thead>
        <tr>
          <th scope="col" colspan="5" style="font-size:1.2rem"><%= integration.name %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="5"><%= integration.description %></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th scope="col">URL</th>
          <th scope="col">IAL2</th>
          <th scope="col">Status</th>
          <th scope="col">Go live</th>
          <th scope="col">Prod deploy</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to integration.url, integration.url, target: '_blank' %></td>
          <td><%= integration.ial2 %></td>
          <td><%= integration.integration_status.name.titleize %></td>
          <td><%= integration.go_live %></td>
          <td><%= integration.prod_deploy %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>No Integrations found.</p>
<% end %>
